/*** Z-INDEXES ***/
.audio-book { position: relative; z-index: 10; }
.audio-tag { position: relative; z-index: 20; }
/*** END Z-INDEXES ***/

/*** CANCEL ***/
.u-button_toggle.m-books-nav-button { text-indent: -9999px; }

.m-books-covers,
.m-books-covers * { transition: none !important; }
/*** END CANCEL ***/

/*** Z-INDEXES ***/
.m-books-footer:before { position: relative; z-index: 10; }
.m-books-covers { position: relative; z-index: 20; }
    .m-books-covers-button { position: relative; z-index: 30; }
.m-books-footer:after { position: relative; z-index: 40; }
.m-books-footer-wrap { position: relative; z-index: 50; }
.m-books-nav-button { position: relative; z-index: 60; }
/*** END Z-INDEXES ***/

/*** COLORS ***/{% assign vColorPurple = "#340853" %}
{ background-color: {{ vColorPurple }}; }

.u-button_toggle,
.u-button_toggle:after,
.u-marquee.is-subtitle { background-color: black; }
*,
html[appStyle="theKit"] .m-books-header-book .u-button_buy { color: black; }

html[appStyle="theClub"],
html[appStyle="theKit"] .u-button_CTA,
html[appStyle="theClub"] .m-books-footer:before,
html[appStyle="theKit"] .footer,
.u-button_buy { background-color: #eee; }
html[appStyle="theKit"] .m-books-header-book *,
html[appStyle="theKit"] .m-discussion-text *,
.u-button_toggle,
.u-marquee.is-subtitle .u-marquee-box { color: #eee; }
 { color: #eee !important; }
.m-books-footer:after { background-image: linear-gradient(transparent{% for i in (1..3) %}, #eee{% endfor %}); }

.u-button_toggle.m-books-nav-button:after { background-color: transparent !important; }
/*** END COLORS ***/

/*** FONTS ***/
@font-face{font-family:"Bauhaus";src:url("../../assets/fonts/BAUHS93.TTF");}
@font-face{font-family:"Impact";src:url("../../assets/fonts/impact.TTF");}

.u-fancyText,
.u-marquee-box,
.m-books-header-book-title,
.m-books-header-book-author,
.m-discussion-text-index { font-family: "Bauhaus"; line-height: 1.15em; word-spacing: initial !important; }
main { font-family: "Impact"; word-spacing: .15em; }

.m-books-header-book-author { font-size: 1.5em; }

.footer,
.u-marquee-box,
.m-books-header-book,
.m-discussion-nav,
.m-discussion-text { text-align: center; }

.m-books-header-book-link { text-transform: lowercase; }
.m-books-header-book-link { text-decoration: underline; }
/*** END FONTS ***/

/*** MEDIA ***/
.u-button_toggle.is-next:after { background-image: url("../../assets/images/icon_next_white.png"); }
.u-button_toggle.is-prev:after { background-image: url("../../assets/images/icon_previous_white.png"); }
.u-button_toggle.is-refresh:after { background-image: url("../../assets/images/icon_refresh_white.png"); }
.u-button_toggle:after {
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

html[appStyle="theClub"] .u-fancyText {
    background-image: url("../../assets/images/purple-background.png");
    background-size: cover;
    background-position: fixed;
    background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -o-background-clip: text;
    background-fill-color: transparent;
        -webkit-background-fill-color: transparent;
        -moz-background-fill-color: transparent;
        -o-background-fill-color: transparent;
    color: transparent;
}

html[appStyle="theKit"] {// background: red !important; }
html[appStyle="theKit"],
html[appStyle="theClub"] .u-button_CTA,
.u-button_toggle.m-books-nav-button,
html[appStyle="theClub"] .u-marquee.is-title,
html[appStyle="theClub"] .m-books { background-image: url("../../assets/images/purple-background.png"); background-color: {{ vColorPurple }}; }
.u-button_CTA,
.u-button_toggle.m-books-nav-button,
html[appStyle="theClub"] .u-marquee.is-title,
html[appStyle="theClub"] .m-books {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
}
html[appStyle="theKit"] {
    background-size: auto 300% !important;
    background-position: top center;
}

.m-books-covers-button:hover,
.m-books-covers-button:active,
.m-books-covers-button:focus { filter: grayscale(0%) !important; }
.m-books-covers-list-item[currentPlacement="2"] .m-books-covers-button,
.m-books-covers-list-item[currentPlacement="3"] .m-books-covers-button,
.m-books-covers-list-item[currentPlacement="4"] .m-books-covers-button,
.m-books-covers-list-item[currentPlacement="5"] .m-books-covers-button,
.m-books-covers-list-item[currentPlacement="6"] .m-books-covers-button,
.m-books-covers-list-item[currentPlacement="7"] .m-books-covers-button,
.m-books-covers-list-item[currentPlacement="8"] .m-books-covers-button,
.m-books-covers-list-item[currentPlacement="9"] .m-books-covers-button { filter: grayscale(100%); }

.m-books-covers-button { opacity: .5; }
.m-books-covers-list-item:nth-child(1) .m-books-covers-button,
.m-books-covers-list-item[currentPlacement="1"] .m-books-covers-button { opacity: 1 !important; }

	/*** PAGE: PARTNERS ***/
	.audio-book-cover { background-image: url("../../assets/partners/goethe-institut/a-way-of-being.png"); }

	.audio-book-cover {
		background-size: cover;
	}
/*** END MEDIA ***/

/*** UTILITIES ***/
    /*** .u-marquee ***/
    .u-marquee-wrap { display: flex; }
    .u-marquee-box { flex: 1; }

    .u-marquee {
        position: relative;
    }
    .u-marquee-wrap {
        position: relative;
        width: fit-content;
        width: 100%;

//        border: 1px solid yellow;
    }
    .u-marquee-box {
        position: relative;
//        width: 25%;
        display: inline-block;
        padding: .5em;

//        border: 1px solid red;
    }

    /*** .u-button ***/
    .u-button_toggle-parent,
    .u-button_toggle { display: flex; }
    .u-button_toggle { align-items: center; }
    .u-button_toggle { justify-content: center; }

	.u-button_buy,
    .u-button_CTA {
        display: inline-block;
        padding: 1em 2em;
        margin: 1em;
        border-radius: 3em;
    }

    .u-button_toggle {
        position: relative;
        width: 2em; height: 2em;
    //    display: inline-block;
        margin: 0 .5em;
        border-radius: 50%;
    }
    .u-button_toggle.m-books-nav-button { width: 3em; height: 3em; }
    .u-button_toggle:after {
        content: "";
        position: absolute; top: 0; left: 0;
        width: 100%; height: 100%;
        border-radius: 50%;
    }
/*** END UTILITIES ***/

/*** MIXINS ***/
    /*** .m-books ***/
    .m-books {
        position: relative;
    }

    .m-books-covers-list-item { display: flex; }

    .m-books-covers-list {
        position: relative;
    }
    .m-books-covers-list-item {
        padding: 1.5em;
    }
    .m-books-covers-list-item[currentPlacement="1"] { width: 33.333%; height: auto; }
    .m-books-covers-list-item[currentPlacement="2"],
    .m-books-covers-list-item[currentPlacement="3"],
    .m-books-covers-list-item[currentPlacement="4"],
    .m-books-covers-list-item[currentPlacement="5"],
    .m-books-covers-list-item[currentPlacement="6"],
    .m-books-covers-list-item[currentPlacement="7"],
    .m-books-covers-list-item[currentPlacement="8"],
    .m-books-covers-list-item[currentPlacement="9"] { width: 16.666%; height: 50%; }

    .m-books-covers-list-item[currentPlacement="1"] { position: relative; left: 33.333%; }

    .m-books-covers-list-item[currentPlacement="2"] { position: absolute; right: 16.666%; top: 0; }
    .m-books-covers-list-item[currentPlacement="3"] { position: absolute; right: 0; top: 0; }
    .m-books-covers-list-item[currentPlacement="4"] { position: absolute; right: 0; bottom: 0; }
    .m-books-covers-list-item[currentPlacement="5"] { position: absolute; right: 16.666%; bottom: 0; }
    
    .m-books-covers-list-item[currentPlacement="6"] { position: absolute; left: 16.666%; bottom: 0; }
    .m-books-covers-list-item[currentPlacement="7"] { position: absolute; left: 0; bottom: 0; }
    .m-books-covers-list-item[currentPlacement="8"] { position: absolute; left: 0; top: 0; }
    .m-books-covers-list-item[currentPlacement="9"] { position: absolute; left: 16.666%; top: 0; }

    .m-books-covers-list-item[currentPlacement="1"] .m-books-covers-button { position: relative; top: -4em; }
    .m-books-covers-list-item[currentPlacement="3"] .m-books-covers-button,
    .m-books-covers-list-item[currentPlacement="4"] .m-books-covers-button,
    .m-books-covers-list-item[currentPlacement="7"] .m-books-covers-button,
    .m-books-covers-list-item[currentPlacement="8"] .m-books-covers-button { position: relative; top: -9em; }

    .m-books-header-book {
        padding: 1.5em .5em;
        margin-bottom: 2.5em;
    }
    .m-books-header-book-link {
        margin-top: 1.5em;
    }
    .header {
        text-align: center;
    }
    .header .m-books-header-book-link {
        display: inline-block;
        margin: 0 auto !important;
    }

    .m-books-footer {
        position: relative;
    }
    .m-books-footer:after,
    .m-books-footer:before {
        content: "";
        position: absolute; bottom: 0; left: 0;
        width: 100%; height: 200%;
    }
    .m-books-footer-img {
        width: 30%;
        margin: 1.5em;
    }

    .m-books-nav {
        position: absolute; bottom: 7em;
        width: 100%;
        padding: 0 0 3em 0;
    }
    .m-books-nav-button:first-child {
        margin-right: 16.666%;
    }

    /*** .m-discussion ***/
    .m-discussion-nav {
        padding: 2em;
    }
    .m-discussion-text {
        padding: 5em 1em;
    }
    .m-discussion-text-question {
        min-height: 3em;
    }
/*** END MIXINS ***/

/*** COMPONENTS ***/
	/*** COMMONS ***/
	html, body, main { width: 100%; height: 100%; }
	main { display: flex; }
	main { flex-direction: column; }
	.m-discussion { flex: 1; }

	/*** .footer ***/
	.footer {
		padding: 1em;
	}
/*** END COMPONENTS ***/

/*** PAGES: PARTNERS ***/
	/*** .audio ***/
	.audio-book-art,
	.audio-book-cover,
	.audio-tag {
		display: block;
		margin: 0 auto;
	}
	
	.audio-book-art {
		width: 100%; height: auto;
		max-width: 70%; max-height: 50vh;
	}
	.audio-book-cover {
		position: relative; top: -10em;
		width: 19%;
	}
	
	.audio-tag {
		position: relative; top: 70vh;
		width: 50%;
		padding: .5em;
	}
/*** END PAGES: PARTNERS ***/

/*** INTERACTIVITY ***/
.m-books-covers-list-item[currentPlacement="1"] .m-books-covers-button { cursor: initial !important; }
.u-button_buy,
.u-button_CTA,
.u-button_toggle,
.m-books-covers-button { cursor: pointer; }

html[appStyle="theClub"] .is-appStyle_theKit { display: none !important; }
html[appStyle="theKit"] .is-appStyle_theClub { display: none !important; }

html[appStyle="theKit"] .m-books-covers .m-books-covers-list-item { visibility: hidden !important; }
html[appStyle="theKit"] .m-books-covers .m-books-covers-list-item[currentPlacement="1"] { visibility: visible !important; }

.audio-book-cover { opacity: .7; }
.audio-book-cover:hover,
.audio-book-art:hover ~ .audio-book-cover,
.audio-tag:hover ~ .audio-book .audio-book-cover { opacity: 1; }
/*** END INTERACTIVITY ***/

/*** MEDIA-QUERIES ***/
@media all and (max-width: 50em) {
    body, html, main { font-size: 16px; }
    .u-marquee.is-title .u-marquee-box { font-size: 1.5em; }
    .m-books-header-book-title,
    .m-discussion-text-question { font-size: 2.5em; }
    
    .m-books-covers-list-item { display: none; }
    .m-books-covers-list-item[currentPlacement="1"],
    .m-books-covers-list-item[currentPlacement="2"],
    .m-books-covers-list-item[currentPlacement="9"] { display: inline-block; padding: .5em; }
    .m-books-covers-list-item[currentPlacement="2"],
    .m-books-covers-list-item[currentPlacement="9"] { width: 25%; height: auto; }
    .m-books-covers-list-item[currentPlacement="2"] { right: 0; }
    .m-books-covers-list-item[currentPlacement="9"] { left: 0; }
}
@media all and (min-width: 50em) {
    body, html, main { font-size: 18px; }
    .u-marquee.is-title .u-marquee-box { font-size: 2em; }
    .m-books-header-book-title,
    .m-discussion-text-question { font-size: 3em; }
}
/*** END MEDIA-QUERIES ***/

/*** DECORATION ***/
.d-cssCentered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-maxWidth {
    max-width: 75em;
    margin: 0 auto;
}
/*** END DECORATION ***/

/*** ANIMATION ***/
.u-marquee {
    --vOffsetLeft: 20vw;
    --vMoveInitialLeft: calc(-25% + var(--vOffsetLeft));
    --vMoveFinalLeft: calc(-50% + var(--vOffsetLeft));

	--vOffsetRight: 80vw;
    --vMoveInitialRight: calc(25% - var(--vOffsetRight));
    --vMoveFinalRight: calc(50% - var(--vOffsetRight));
}
.u-marquee:hover .u-marquee-wrap {
//    animation-play-state: paused !important;
}
.u-marquee.is-variant_left .u-marquee-wrap {
    animation: cssMarquee-toTheLeft 5s linear infinite;
    transform: translate3d(var(--vMoveInitialLeft), 0, 0);
}
.u-marquee.is-variant_right .u-marquee-wrap {
    animation: cssMarquee-toTheRight 10s linear infinite;
    transform: translate3d(var(--vMoveInitialRight), 0, 0);
}

@keyframes cssMarquee-toTheLeft {
    0% { transform: translate3d(var(--vMoveInitialLeft), 0, 0); }
    100% { transform: translate3d(var(--vMoveFinalLeft), 0, 0); }
}
@keyframes cssMarquee-toTheRight {
    0% { transform: translate3d(var(--vMoveInitialRight), 0, 0); }
    100% { transform: translate3d(var(--vMoveFinalRight), 0, 0); }
}
/*** END ANIMATION ***/

/*** CSS HACKS ***/
.header .u-marquee,
.m-books .u-marquee { overflow: hidden; }
/*** END CSS HACKS ***/